body{
  font-family: 'Cutive Mono', monospace;
}
.welcome {
  height: 100vh;
}
.left-row{
  position: relative;
  top: 200px;
}
.navtabs{
  height: 550px;
  overflow: auto;
}
.tabs{
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
}
a:hover,
a:visited,
a:active,
a:link{
  text-decoration: none;
  color: black;
}
.tab1 {
  font-size: 18px;
  height: 550px;
  padding-top: 50px;
}
.tab2{
  height: 550px;
}
.project{
  width: 320px;
  height: 175px;
  display: block;
  margin: 0 auto;
}
.tab3{
  height: 550px;
}






.id-card {
  height: 100vh;
}
.card{
  height: 500px;
  width: 320px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  top: 25vh;
  display: block;
  margin: 0 auto;
}
.card-title{
  text-align: center;
  font-size: 19px;
  padding-top: 15px;
}
.left-card{
  position: relative;
  top: 15px;
  left: 10px;
}
.image-me{
  width: 140px;
  height: 175px;
}
p{
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.code1{
  position: relative;
  top: -140px;
}
.code2{
  position: relative;
  top: 10px;
}
.border04-top{
  border-top: black 0.04in solid;
  display: inline-block;
  width: 0.5in;
}
.border06-top{
  border-top: black 0.06in solid;
  display: inline-block;
  width: 0.5in;
}
.border10-top{
  border-top: black 0.1in solid;
  display: inline-block;
  width: 0.5in;
}
.border02-bottom{
  border-bottom: black 0.02in solid;
  display: inline-block;
  width: 0.5in;
}
.border04-bottom{
  border-bottom: black 0.04in solid;
  display: inline-block;
  width: 0.5in;
}
.sim{
  height: 70px;
  width: 53px;
  border: 1px solid black;
  background-color: ;
  position: relative;
  top: -250px;
  left: 60px; 
  border-radius: 12px;
}
.sim-btm{
  border-bottom: black 0.02in solid;
  display: inline-block;
  width: .53in;
  position: relative;
  top: 5px;
}
.sim-left{
  border-left: black 0.02in solid;
  display: inline-block;
  height: .72in;
  position: relative;
  top: -49px;
  left: 10px;
}
.right-box{
  font-size: 18px;
  position: relative;
  top: 50px;
  left: 5px;
}
.card-sub{
  font-size: 12px;
}