/* big tablets from 1024-1200px (widths smaller than the 1140px row) */
/* row width is set at 1140px */
@media only screen and (max-width: 1200px) {

}


/* landscape view of tablet 768-1023px */
@media only screen and (max-width: 1023px) {

}


/* tablet devices from 481-767px */
@media only screen and (max-width: 767px) {

}


/* small phones from 0 - 480px */
@media only screen and (max-width: 480px) {

}


@media only screen and (max-width: 991px) {
	.tabs{
		display: inline-block;
		margin-left: 10px;
		font-size: 20px;
		font-weight: bold;
	}
	.tab1 {
		font-size: 17px;
		height: 550px;
		padding-top: 20px;
		padding-right: 20px;
	}
	.tab2{
		height: 550px;
	}
	.project{
		width: 320px;
		height: 175px;
		display: block;
		margin: 0 auto;
	}
	.tab3{
		height: 550px;
	}
}

@media only screen and (max-width: 732px) {
	.tab1 {
		font-size: 17px;
		height: 550px;
		padding-top: 20px;
		padding-right: 20px;
	}
	.project{
		width: 300px;
		height: 175px;
		display: block;
		margin: 0 auto;
	}
}
