html{
	padding: 0;
	margin: 0;

}
body{
	font-family: ;
	margin: 0;
	padding: 0;
}
.container{

}
.intro{
	/*background image insert*/
	background: linear-gradient(#800000, white);
	/*background-color: #7d7d7d;*/
	height: 100vh;
	width: 100vw;
	display: flex;
}
.inside{
	margin: auto;
	color: white;
	font-size: 8em;
}
.about{
	background-color: #707070;
	width: 100vw;
	height: 30vh;
}
.skills{
	background-color: #646464;
	width: 100vw;
	height: 50vh;
}
.projects{
	background-color: #575757;
	width: 100vw;
	height: 100vh;
}
